.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.MainContent {
    display: flex;
    justify-content: space-between;
}

.NoResults {
    min-height: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hello{
    display: flex;
    flex-direction: row;
    flex-items: center;
    align-items: center;
    gap: 120px;
    
}