.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.NoResults {
    min-height: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-Search-Container {
    display: flex;
    gap: 10%;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 450px) {
    .Header-Search-Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

    #logo {
        content: url("/src/static/Logo-Original.jpg");
        max-width: 100%;
    }
}
