.MainContent {
}

.MainContentLoading {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}

.MainContentLoader {
    height: 10rem;
    width: 10rem;
}
