.MainContent {
}

.MainContentLoading {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin-top: 5%;
}

.MainContentLoader {
    height: 10rem;
    width: 10rem;
}
