.SearchBar {
    text-align: center;
}

.SearchBar input{
    border: 1px solid #BEBEBE;
    border-right: none;
    height:40%;
    width: 40%;
    padding: 0.7%;
    border-radius: 5px 0 0 5px;
    border-right: none;
    font-size: large;
    outline: none;
}

#cross{
    position: relative;
    bottom: 5%;
    opacity: 0.7;
    height: 41%;
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
    padding: 0.6%; 
    padding-bottom: 0.65%;
    margin: 0%;
    margin-bottom: 5px;
    cursor: pointer;
}

#cross img{
    height: 45%;
    vertical-align: middle;
}

.SearchBar input:focus{
    border: 1px solid #1c62b9;  
    border-right: none;
    /* box-shadow: -3px 0px 5px 1px rgba(83, 83, 226, 0.6); */
}

.SearchBar input:focus + #cross{
    border: 1px solid #1c62b9;  
    border-left: none;  
    /* box-shadow: 3px 0px 5px 1px rgba(83, 83, 226, 0.4); */
}

.SearchBar button{
    position: relative;
    top: 5%;
    padding: 0.5%;
    margin: 0;
    border: 1px solid #BEBEBE;
    border-radius: 0 5px 5px 0;
    height: auto;
    cursor: pointer;
}
