.VideoActions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1em;
    font-size: 1rem;
}

details {
    font-size: 1rem;
    margin: 0.5em 0.5em;
}

.btn {
    transition: 0.5s;
}

.btn0,
.btn1,
.btn2 {
    text-align: center;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1.2rem;
    font-variant: petite-caps;
    margin: 1em 0;
}

.btn0:hover,
.btn1:hover,
.btn2:hover {
    background-color: white;
    color: black;
}

.VideoDescriptionPara {
    margin: 0.5em 1em;
}
