.Video {
    width: 50%;
}

@media (max-width: 450px) {
    .Video {
        width: 100%;
    }
}

iframe {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 5px;
    aspect-ratio: 16 / 9;
}
