.VideoSuggestions {
    width: 40%;
    overflow: auto;
    padding: 0.1em 1em;
    margin-bottom: 5%;
    box-sizing: border-box;
}

@media (max-width: 450px) {
    .VideoSuggestions {
        width: 100%;
        box-sizing: border-box;
    }
}
