.VideoListItem {
    display: flex;
    border-radius: 15px;
    font-size: large;
    cursor: pointer;
}

.VideoListItem img {
    float: left;
    margin: 0 1em 0 1em;
}

.VideoListItem:hover {
    box-shadow: 0 0 8px 5px rgba(225, 131, 248, 0.7) !important;
    background-color: rgb(203, 223, 248) !important;
}
