.VideoActions {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    padding: 0 1em;
    font-size: 1rem;
    cursor: pointer;
}

details {
    text-align: center;
    padding: 10px 0px;
    font-family: serif;
}


.btn{
    border-radius: 5px;
    transition: 0.7s;
    background: black;
    font-family: cursive;
}

.btn2{
    font-size: medium;
    color: white;
}

.btn1{
    color: white;
}

.btn0{
    height: 26px;
    color: white;
}

.btn2:hover{
    color: rgb(12, 12, 12);
    background-color: white;
}

.btn0:hover{
    border: 2px solid black;
    color: rgb(12, 12, 12);
    background-color: white;
}

.btn1:hover{
    color: rgb(12, 12, 12);
    background-color: white;
}

.VideoDescriptionPara {
    margin: 0.5em 1em;
}
